<div class="container">
  <div class="header-container">
    <h2>Alunos</h2>
    <div class="header-content">
      <mat-form-field class="search-field">
        <input matInput placeholder="Buscar aluno" (keyup)="filtrarAlunos($event)">
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button (click)="openDialog()">Adicionar aluno</button>
    </div>
  </div>

  <table mat-table [dataSource]="alunosPaginados" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let aluno">{{ aluno.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="sobrenome">
      <th mat-header-cell *matHeaderCellDef>Sobrenome</th>
      <td mat-cell *matCellDef="let aluno">{{ aluno.sobrenome }}</td>
    </ng-container>

    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef>Idade</th>
      <td mat-cell *matCellDef="let aluno">{{ aluno.idade }}</td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let aluno">{{ aluno.sexo }}</td>
    </ng-container>

    <ng-container class="action-container" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let aluno">
        <button
          class="action-button"
          mat-icon-button
          (click)="deletarAluno(aluno.id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button
          class="action-button"
          mat-icon-button
          (click)="openDialog(aluno)"
        >
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="alunos.length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
