.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 8rem;
  box-sizing: border-box;
}

.action-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 14pt;
    line-height: 24px;
    align-self: center;
    display: flex;
  }

  &:hover {
    border-radius: 50px;
    background: #96b5e45e;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 26px;

  button.button-add {
    background: #1976d2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    color: #ffffff;
    height: 40px;
    padding: 0 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    &:hover {
      background: #1964af;
    }
  }
}

.search-field {
  width: 500px;
}

button {
  margin-right: 8px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
  outline: none;
}
