.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.action-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 14pt;
    line-height: 24px;
    align-self: center;
    display: flex;
  }

  &:hover{
    border-radius: 50px;
    background: #96b5e45e;
  }
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field {
  width: 500px;
}

button {
  margin-right: 8px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
  outline: none;
}
