<div class="dashboard">
  <div class="card">
    <mat-icon>male</mat-icon>
    <div>
      <h2>Homens por Idade</h2>
      <div>
        maiores de 18 anos:
        <div class="number">{{ homensAcima18 }}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <mat-icon>female</mat-icon>
    <div>
      <h2>Mulheres por Idade</h2>
      <div>
        maiores de 18 anos:
        <div class="number">{{ mulheresAcima18 }}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <mat-icon>person</mat-icon>
    <div>
      <h2>Menores</h2>
      <div>
        Pessoas menores de 18 anos:
        <div class="number">{{ pessoasAbaixo18 }}</div>
      </div>
    </div>
  </div>

  <div class="card-chart">
    <div class="chart">
      <canvas #doughnutCanvas></canvas>
    </div>
  </div>

  <div class="card-chart">
    <div class="chart">
      <canvas id="idadeBarChart"></canvas>
    </div>
  </div>
</div>
