<form
  class="form-content"
  (ngSubmit)="adicionarOuEditarAluno()"
  #alunoForm="ngForm"
>
  <div class="title-container">
    <h2>{{ modoEdicao ? 'Editar Aluno' : 'Adicionar Aluno' }}</h2>
  </div>
  <mat-form-field>
    <input
      matInput
      placeholder="Nome"
      [(ngModel)]="aluno.nome"
      name="nome"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Sobrenome"
      [(ngModel)]="aluno.sobrenome"
      name="sobrenome"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Idade"
      [(ngModel)]="aluno.idade"
      name="idade"
      required
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <mat-select [(ngModel)]="aluno.sexo" name="sexo" required>
      <mat-option value="M">Masculino</mat-option>
      <mat-option value="F">Feminino</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">
      {{ modoEdicao ? 'Salvar' : 'Adicionar' }}
    </button>
  </div>
</form>

<button
  class="button-close"
  mat-fab
  color="primary"
  mat-button
  (click)="closeDialog()"
>
  <mat-icon>close</mat-icon>
</button>
