<h2>{{ modoEdicao ? "Editar Aluno" : "Adicionar Aluno" }}</h2>
<form (ngSubmit)="adicionarOuEditarAluno()" #alunoForm="ngForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Nome"
      [(ngModel)]="aluno.nome"
      name="nome"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Sobrenome"
      [(ngModel)]="aluno.sobrenome"
      name="sobrenome"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Idade"
      [(ngModel)]="aluno.idade"
      name="idade"
      required
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <mat-select [(ngModel)]="aluno.sexo" name="sexo" required>
      <mat-option value="Masculino">Masculino</mat-option>
      <mat-option value="Feminino">Feminino</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">
    {{ modoEdicao ? "Salvar" : "Adicionar" }}
  </button>
</form>

<button
  class="button-close"
  mat-fab
  color="primary"
  mat-button
  (click)="closeDialog()"
>
  <mat-icon>close</mat-icon>
</button>
