<mat-sidenav-container class="container">
  <mat-sidenav class="list-container" #sidenav mode="side" opened>
    <mat-nav-list class="nav-list">
      <a routerLink="/alunos-form" routerLinkActive="active-link">
        Dashboard
      </a>
      <a routerLink="/alunos" routerLinkActive="active-link" >
        Alunos
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="bar-container">
      <button mat-fab color="primary" class="toggle-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
